.footer {
  padding: 20px 0;
  background-color: #f9f9f9;
  @media (max-width: 999px) {
    padding: 15px 0;
  }
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 759px) {
      flex-direction: column;
    }
  }
  &__left {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    /* Grayscale/Black */

    color: #333333;
    @media (max-width: 1549px) {
      font-size: 14px;
    }
    @media (max-width: 999px) {
      font-size: 12px;
    }
    @media (max-width: 759px) {
      margin-bottom: 8px;
      font-size: 16px;
    }
  }
  &__right {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Grayscale/Black */

    color: #333333;
    @media (max-width: 1549px) {
      font-size: 14px;
    }
    @media (max-width: 999px) {
      font-size: 12px;
    }
    @media (max-width: 759px) {
      font-size: 16px;
    }
    a {
      color: inherit;
      font-weight: 700;
    }
  }
}